#Rewuirements for DNN_pipeline (TensorFlow) - Use conda enviro
pandas==1.3.4

tensorflow==2.4.1 
tensorflow-gpu==2.4.1 
tensorflow-cpu==2.4.1 
tensorflow-io==0.17.1
matplotlib


ipykernel #can remove for final app (only for jupyter notebook)

#Rewuirements for OpenSS_pipeline (PyTorch) - Use conda enviro
opensoundscape
torch
pandas
scikit-learn
matplotlib
numpy<2